.index_menu {
	background-color: rgba(0, 0, 0, 0.3);
    /* width: 52%; */
    /* margin: 0 24%; */
    height: 50px;
    vertical-align: middle;
    padding: 10px 0;
}

.current {
	color: greenyellow;
}

.bc {
	background: url(../img/other_img/banner.jpg) no-repeat center fixed;
	width: 100%;
	min-height: 600px;
	background-size: cover;
}
#test1{
	margin-left: 84px;
}
#test1 lable{
	font-size: 2em;
	color: white;
	position: relative;
	left: 136px;
}
.index_menu span img{
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.index_menu span{
	margin-left: 150px;
	font-size: 0.6em;
}
.index_menu i img{
	height: 28px;
    margin-left: 19px;
	cursor: pointer;
}
#test0 lable{
	font-size: 2em;
	color: white;
	position: relative;
	left: 136px;
}
#test11{
	margin-left: 84px;
}
#test0{
	position: fixed;
	display: none;
	width: 100%;
}
#test11 lable{
	font-size: 2em;
	color: white;
	position: relative;
	left: 136px;
}

.tit {
	display: inline-block;
	padding: 20px 30px;
	background-color: #adff2f99;
	color: white;
	position: relative;
	top: 174px;
	left: 15%;
	font-size: 2em;
	font-family: "幼圆";
}

.index_menu a {
	color: white;
	position: relative;
	display: inline-block;
	transition: all ease 0.5s;
	margin-left: 102px;
	margin-top: 13px;
	font-size: 20px;
}

.index_menu a::before {
	content: "";
	position: absolute;
	left: 10px;
	transition: 0.5s linear all;
}

.index_menu a::after {
	content: "";
	position: absolute;
	right: 10px;
	transition: 0.5s linear all;
}

.index_menu label {
	font-size: 36px;
	position: relative;
	color: white;
	left: 97px;
	top: 3px
}

.index_menu a:hover::before,
.index_menu a:hover::after {
	position: absolute;
	color: greenyellow;
	font-weight: bolder;
}

.index_menu a:hover::before {
	content: "[";
	left: -15px;
}

.index_menu a:hover::after {
	content: "]";
	right: -15px;
}

.index_menu a:hover {
	color: greenyellow;
}