.upload_img {
	width: 400px;
	text-align: center;
	height: 350px;
	background: #F2F2F5;
	padding: 25px;
	box-sizing: border-box;
}

.upload_img p {
	font-size: 0.8em;
	color: #988e7b;
}

.upload_img img {
	width: 200px;
	height:100%;
}

.upload_img span {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 20px;
}
.tip_box{
	width: 70%;
	margin: 0 15%;
	height: 500px;
	text-align: center;
	padding: 130px;
	box-sizing: border-box;
	font-size: 2em;
}
.tip_box button{
	position: relative;
	top: 0.8em;
}
.index_menu {
	background-color: rgb(57, 61, 73);
	height: 50px;
	padding: 0px 0;
	margin-bottom: 10px;
}
body{
	background-color: #f2f2f2;
}
.foot_box {
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 2.5em;
	line-height: 2.5em;
	border-top:2px solid #a8a8a8;
}

.pcont {
	height: 500px;
	width: 70%;
	margin: 0 15%;
}

.leftDiv {
	display: inline-block;
	width: 20%;
	float: left;
}

.rightDiv {
	display: inline-block;
	width: 69%;
	background-color: #fff;
	height: 500px;
	box-shadow: 1px 1px 6px 0px #c6baba;
}
